<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let list of lists" (click)="onSelect(list)"
      [class.selected]="list === selectedLists">
    <span class="badge">{{list.list_id}}</span>
    <span>{{list.list_name}}</span>
    <button class="delete"
            (click)="delete(list); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedLists">
  <h2>
    {{selectedLists.list_name | uppercase}} is my list
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<div>
  <label>Hero name:</label> <input #heroName />
  <button (click)="add(listName.value); listName.value=''">
    Add
  </button>
</div>
